parameters:
    ignoreErrors:
        # Only available in ArrayNodeDefinition which is given
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::fixXmlConfig\(\)\.#'
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::prototype\(\)\.#'
